# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Lars.Ran\Nedap University\Network Systems Challenges\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/challenge3/challenge3.iml
/challenge2/challenge2.iml
.idea/