# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Lars.Ran\Nedap University\Network Systems Challenges\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/checkstyle-idea.xml
/misc.xml
/modules.xml
/Network Systems Challenges.iml
/vcs.xml
